.offcanvas-center {
  top: 10%;
  right: 15%;
  left: 15%;
  height: fit-content;
  padding: 20px;
  transform: translateY(-100%);
}
.link_login {
  padding-top: 2rem;
  padding-left: 8rem;
}
.button_login {
  margin-top: 2rem;
  width: 10rem;
}
