.offcanvas-center {
  top: 10%;
  right: 15%;
  left: 15%;
  height: fit-content;
  padding: 20px;
  transform: translateY(-100%);
}
.link_login {
  position: relative;
  top: -2.5rem;
  right: -30rem;
  a {
    padding-right: 1rem;
  }
}
.button_login {
  margin-top: 1rem !important;
  width: 12rem;
  padding: 0.7rem !important;
}
