// Cấu hình cho thanh icon của Navbar
.grpicon {
  display: flex;
  align-items: center;
  .grpicon__item {
    margin-left: 0.7rem !important;
    width: fit-content;
    .grpicon__item--badge {
      position: relative;
      top: -0.5rem;
      left: -0.5rem;
      padding: 0.2rem 0.4rem !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  // .navbar-nav{
  //   flex-direction: row !important;
  //   justify-content: space-evenly;
  //   // .nav-link {
  //   //   padding: 5px !important;
  //   // }
  // }
  .navbar {
    flex-direction: row-reverse;
  }
  .navbar-brand {
    order: 2;
  }

  .grpicon {
    order: 1;
  }
}
