.orderitem {
  color: #001c44;
  margin: 2rem 3rem !important;
  .orderitem__body {
    padding: 1rem 3rem;
    .orderitem__body__nameproduct {
      font-size: large;
      display: inline-block;
    }
    .orderitem__body__info {
      display: inline-block;
      margin-left: 10rem !important;
    }
    .orderitem__body__sale {
      color: green;
      text-align: right;
      padding-right: 5rem;
    }
  }
  .orderitem__header {
    display: flex;
    .orderitem__header--name {
      font-size: large;
    }
    .orderitem__header--status {
      position: relative;
      top: -0.3rem;
    }
    .orderitem__header--icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: auto !important;
      cursor: pointer;
    }
  }
}
