// SCSS chính thức
* {
  margin: 0 !important;
  font-family: "Hahmlet", serif;
  font-family: "Source Sans Pro", sans-serif;
}
//CSS ẩn thanh scrollbar

*::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}

.info-section div {
  padding-bottom: 0.2rem;
  font-size: smaller;
}

.img_detail {
  width: 100%;
}
// Khung logo và tên cửa hàng tại Navbar
.navbar-brand {
  margin-left: 2rem !important;
  display: flex;
  align-items: center;
  .storeName {
    padding-left: 1rem;
  }
}

//Style cho thanh số trang
.pagination {
  justify-content: center;
  margin: 1rem 0 !important;
}

@media only screen and (max-width: 760px) {
  * {
    font-size: small;
  }
}

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
